@import "tailwindcss";

:root {
    --primary-light: #FAF2E4;
    --primary: #F1E7D0;
    --secondary: #C8A47F;
    --secondary-dark: #8C6A4E;
    --accent: #6F4E37;
    --accent-dark: #3F2F25;
 --test :#E5DDD5 ;
 --testa : #F8F6F0 ;--testb :#E8DFD0;
}